.conatiner-fluid
  .panel.panel-info.form-group
      .panel-heading Add A New Todo
      .panel-body
        .input-group
          span.input-group-addon.btn.btn-success(
            id='new_todo'
            ng-click='add_todo(new_todo)') Submit
          input.form-control(
            ng-model='new_todo.text'
            placeholder='Enter a new todo here...'
            aria-describedby='new_todo'
            )
  div(uib-accordion)
    div(ng-repeat="item in todos | orderBy: '-createdAt' track by $index")
      ph-todo-item(item='item')
